params {
    outdir = './nfoutput'

    genomes {
        'GRCh38' {
            db = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/'
            fasta = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta'
            pbindex = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/human_GRCh38_no_alt_analysis_set.mmi'
        }

        'CHM13' {
            db = '/data/gdata/human/CHM13/UCSC/resource_bundle/'
            fasta = '/data/gdata/human/CHM13/UCSC/resource_bundle/hs1.fa.gz'
            pbindex = '/data/gdata/human/CHM13/UCSC/resource_bundle/hs1.mmi'
        }
    }

    miniwdl_cfg = "$baseDir/miniwdl.cfg"
}

process {
    scratch = "${launchDir}/.nextflow/scratch/"

    // Specific container for the HAPPY process
    //withName: HAPPY {
    //    container = "docker://pkrusche/hap.py"
    //}

    withName: SPLIT_INPUT_BAM {
        container = "quay.io/pacbio/pbtk:3.5.0_build1"
    }

    withName: PBMM2_ALIGN {
        container = "quay.io/pacbio/pbmm2:26.1.0_build1"
    }

    withName: SAMTOOLS_MERGE {
        container = "quay.io/pacbio/samtools:8e6261b_build2"
    }
}

conda {
    enabled = true
    cacheDir = "${launchDir}/.nextflow/conda_envs"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${launchDir}/.nextflow/containers"
}

report.overwrite = true
trace.overwrite = true