// Global parameters
params {
    outdir = './nfoutput'

    genomes {
        'GRCh38' {
            db = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/'
            fasta = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta'
            fasta_index = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta.fai'
            pbindex = '/data/gdata/human/GRCh38/PacBio/hifi-wdl-resources-v3.1.0/GRCh38/human_GRCh38_no_alt_analysis_set.mmi'
        }

        'CHM13' {
            db = '/data/gdata/human/CHM13/UCSC/resource_bundle/'
            fasta = '/data/gdata/human/CHM13/UCSC/resource_bundle/hs1.fa.gz'
            fasta_index = '/data/gdata/human/CHM13/UCSC/resource_bundle/hs1.fa.gz.fai'
            pbindex = '/data/gdata/human/CHM13/UCSC/resource_bundle/hs1.mmi'
        }
    }

    miniwdl_cfg = "$baseDir/miniwdl.cfg"
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "${launchDir}/.containers/docker_img"
}

conda {
    enabled = true
    cacheDir = "${launchDir}/.containers/conda_env"
}

// Executor Profiles
profiles {

    // LOCAL EXECUTION
    standard {
        process {
            executor = 'local'

            withName: SPLIT_INPUT_BAM {
                cpus = 4; memory = '4 GB'; disk = '50 GB'; container = "quay.io/pacbio/pbtk:3.5.0_build1"
                scratch = "${launchDir}/.nextflow/scratch"
            }
            withName: PBMM2_ALIGN {
                cpus = 8; memory = '32 GB'; disk = '50 GB'; container = "quay.io/pacbio/pbmm2:26.1.0_build1"
                scratch = "${launchDir}/.nextflow/scratch"
            }
            withName: SAMTOOLS_MERGE {
                container = "quay.io/pacbio/pb_wdl_base:build3"
                scratch = "${launchDir}/.nextflow/scratch"
            }
            withName: MAKE_EXAMPLES {
                cpus = 16; memory = '64 GB'; container = "docker://google/deepvariant:latest"
                scratch = "${launchDir}/.nextflow/scratch"
            }
        }
    }

    // HTCONDOR EXECUTION
    condor {
        process {
            executor = 'condor'
            clusterOptions = 'universe = vanilla; should_transfer_files = NO; getenv = True; periodic_remove = (MemoryUsage > RequestMemory)'

            withName: SPLIT_INPUT_BAM {
                cpus = 4; memory = '4 GB'; disk = '50 GB'; container = "quay.io/pacbio/pbtk:3.5.0_build1"
                scratch = true
            }
            withName: PBMM2_ALIGN {
                cpus = 8; memory = '48 GB'; disk = '50 GB'; container = "quay.io/pacbio/pbmm2:26.1.0_build1"
                scratch = true
            }
            withName: SAMTOOLS_MERGE {
                container = "quay.io/pacbio/pb_wdl_base:build3"
                scratch = true
            }
            withName: MAKE_EXAMPLES {
                cpus = 16; memory = '64 GB'; container = "docker://google/deepvariant:latest"
                scratch = true
            }
        }
    }
}

report.overwrite = true
trace.overwrite = true